<button class="btn btn-primary alt" type="submit"><i class="icon-white icon-ok"></i> {{ 'Save'|trans }}</button>
<button class="btn btn-primary" type="submit"><i class="icon-white icon-ok"></i> {{ 'Save and close'|trans }}</button>
