<button class="btn btn-primary alt"><i class="icon-white icon-ok"></i> {{ 'Save and add'|trans }}</button>
<button class="btn btn-primary" type="submit"><i class="icon-white icon-ok"></i> {{ 'Save and close'|trans }}</button>
