<ul class="nav nav-tabs nav-stacked">
{% for child in admin.children %}
    <li><a href="{{ child.genUrl('list', {'parentId': admin.object.id}, false) }}">{{ child.label(2) }}</a></li>
{% endfor %}
</ul>
