<ul class="nav nav-tabs nav-stacked">
    <li class="active"><a href="#main1" data-toggle="tab">{{ 'Main'|trans }}</a></li>
    <li><a href="#content2" data-toggle="tab">{{ 'Content'|trans }}</a></li>
    <li><a href="#seo" data-toggle="tab">{{ 'SEO'|trans }}</a></li>
    <li><a href="#admin" data-toggle="tab">{{ 'Admin'|trans }}</a></li>
</ul>
