/* general */

html {
    overflow-y: scroll;
}

body {
    background: #f5f5f5;
}

.container-fluid {
    min-width: 960px;
    padding: 0;
}

#main {
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

a:hover {
    text-decoration: none;
}

h2 {
    margin: 0 0 0;
    font-size: 17.5px;
}

/* header */

.header {
    padding: 15px 0;
    background: #fff;
}

h1 {
    margin: 0;
    font-size: 31.5px;
}

h1 a {
    color: #333;
}

/* sidebar */

#sidebar {
    position: absolute;
    width: 180px;
    padding: 20px 20px 0;
}

#sidebar select {
    width: 100%;
}

.nav-stacked {
    /*margin: -20px;*/
    margin: 0 -20px 0 -20px;
}

.nav-tabs.nav-stacked>li>a {
    border-width: 1px 0;
    border-radius: 0 !important;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    border-width: 1px 0;
    background: #eee;
    border-right: 1px solid #ddd !important;
}

.nav-tabs.nav-stacked>li:first-child>a {
    /*border-top: 0;*/
}

.nav-tabs.nav-stacked>li>a:hover {
    /*background: none;*/
    border-right: 1px solid #ddd !important;
}

/* content */

#content {
    padding: 0 20px 0;
}

/* nav */

.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
    margin-bottom: 10px;
}

.navbar-inverse .navbar-inner {
    background: #262626;
    border: 0;
}

.navbar .brand {
    color: #fff;
    font-size: 14px;
}

.navbar .nav > .current_ancestor > a,
.navbar .nav > .current_ancestor > a:hover,
.navbar .nav > .current_ancestor > a:focus {
    color: #ffffff;
    background-color: #111111;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #ffffff;
}

.dropdown-menu li.current_ancestor > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    outline: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

/* table */

table + div.pagination {
    margin-top: 0;
}

.table.sortable td {
    cursor: move;
}

.table th,
.table td {
    vertical-align: middle;
}

.table, .table th, .table td, .table tr {
    /*border-radius: 0 !important;*/
}

.td-sort {
    cursor: move;
}

/* form */

.mceLayout {
    margin-bottom: 20px !important;
}

.form-horizontal .control-label {
    text-align: left;
}

.ui-state-highlight {
    height: 47px;
    line-height: 47px;
}

.ui-state-highlight td {
    background-color: #d9edf7 !important;
}

input[readonly] {
    cursor: pointer;
    background-color: #eeeeee;
}

.msi_cmf_admin_change img {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
}

.form-horizontal .controls {
    margin-left: 0;
}

.form-horizontal label + .controls {
    margin-left: 180px;
}

input, .uneditable-input {
    width: 286px;
}

textarea {
    width: 95%;
    height: 100px;
}

select {
    min-width: 90px;
    width: auto;
}

/* boostrap */

.breadcrumb {
    margin: 0 0 10px;
    padding: 3px 6px;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn-toolbar {
    margin: 5px 0;
}

.page-header {
    margin: 0 0 20px;
    padding: 15px 0;
}

.pagination {
    margin: 0 20px 0 0;
}

fieldset.well {
    border: 1px solid #ddd;
    padding-bottom: 0;
    background: #fff;
}

fieldset.well h4 {
    padding: 9px 19px;
    margin: -19px -19px 20px;
    border-bottom: 1px solid #ddd;
    background: #eee;
}

.form-actions {
    margin-top: 0;
}

.form-horizontal .form-actions {
    padding-left: 200px;
}

.form-crud {
    margin-bottom: 0;
}

.alert-wrap {
    position: absolute;
    left: 50%;
    top: -26px;
}

.alert {
    margin-top: 10px;
    position: relative;
    left: -50%;
    padding: 5px 14px;
    color: inherit;
    font-weight: bold;
}

/* uploadify */

.uploadify {
    float: left;
    width: auto !important;
    height: auto !important;
    margin: 0 10px 0 0;
}

.uploadify-queue {
    margin: 20px 0;
}

.uploadify-button {
    width: auto !important;
    height: auto !important;
    line-height: 20px !important;
}

.uploadify-queue-item .cancel a {
    background-image: url(/bundles/msicmf/vendor/bootstrap/img/glyphicons-halflings.png);
    background-position: -312px 0;
    float: right;
    height: 14px;
    text-indent: -9999px;
    width: 14px;
    line-height: 14px;
}

/* loader */
/*ul#loader {
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    text-align: center;
    float: right;
}

ul#loader li {
    width: 10px;
    height: 10px;
    background-color: white;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    display: inline-block;
    border-radius: 50%;
    margin: 0 1px;
    -webkit-animation: loading 1.5s infinite;
    -moz-animation: loading 1.5s infinite;
    -o-animation: loading 1.5s infinite;
    -ms-animation: loading 1.5s infinite;
    animation: loading 1.5s infinite;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    -moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    -o-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    -ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
}

ul#loader li.li6  {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

ul#loader li.li5 {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    -o-animation-delay: 0.25s;
    -ms-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
ul#loader li.li4 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
ul#loader li.li3 {
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    animation-delay: 0.75s;
}
ul#loader li.li2  {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
}
ul#loader li.li1  {
    -webkit-animation-delay: 1.25s;
    -moz-animation-delay: 1.25s;
    -o-animation-delay: 1.25s;
    -ms-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

@-webkit-keyframes loading {
    0% {-webkit-transform: translateX(-30px); opacity: 0}
    25% {opacity: 1}
    50% {-webkit-transform: translateX(30px); opacity: 0}
    100% {opacity: 0}
}

@-moz-keyframes loading {
    0% {-moz-transform: translateX(-30px); opacity: 0}
    25% {opacity: 1}
    50% {-moz-transform: translateX(30px); opacity: 0}
    100% {opacity: 0}
}

@-o-keyframes loading {
    0% {-o-transform: translateX(-30px); opacity: 0}
    25% {opacity: 1}
    50% {-o-transform: translateX(30px); opacity: 0}
    100% {opacity: 0}
}

@-ms-keyframes loading {
    0% {-ms-transform: translateX(-30px); opacity: 0}
    25% {opacity: 1}
    50% {-ms-transform: translateX(30px); opacity: 0}
    100% {opacity: 0}
}

@keyframes loading {
    0% {-ms-transform: translateX(-30px); opacity: 0}
    25% {opacity: 1}
    50% {-ms-transform: translateX(30px); opacity: 0}
    100% {opacity: 0}
}*/
